/* inicio.css */

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    text-align: center; /* Centra el contenido */
}

/* Estilo para el título del empleado */
.card-title {
    font-size: 1.2rem; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilo para el texto de la descripción */
.card-text {
    font-size: 1rem; /* Tamaño de la fuente */
    color: #666; /* Color del texto */
}

/* Estilo para la imagen del empleado */
.card-img-top {
    width: 100%; /* Ancho completo */
    height: auto; /* Altura automática para mantener la proporción */
    border-radius: 5px; /* Borde redondeado */
    margin-bottom: 10px; /* Margen inferior */
}
